@charset "UTF-8";

/*Reset*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--fonte_padrao);
}

/*Variáveis*/
:root{
   --fonte_padrao: 'quicksand', sans-serif;
   --main_color: #920101;
   --main_text_color: #fff;
   --border_color: #999;
   --bio_bg_color: #1e2a3a;
   --bio_border_color: #293544;
   --about_bg_color: #111821; 
}

/* Geral*/
.highlight{
   color: var(--main_color);
}

#container{
   display: flex;
   flex-direction: row;
   color: var(--main_text_color);
}

/*Containers - Bio container*/
#bio-container{
   flex: 1 1 20%;
   min-height: 100vh;
   background-color: var(--bio_bg_color);
   text-align: center;
   padding: 30px 12px;
   border-right: 5px solid var(--bio_border_color);
}

#bio-container h2{
   margin-bottom: 25px;
}

#bio-container p{
   margin-bottom: 20px;
}

#bio-container #welcome{
   font-weight: bold;
}

#bio-image{
   width: 175px;
   height: 175px;
   border-radius: 50%;
   margin-bottom: 25px;
}

#social-container{
   display: flex;
   justify-content: center;
   list-style: none;
   border-bottom: 1px solid var(--border_color);
   margin-bottom: 25px;
   padding-bottom: 25px;
}

#social-container li{
   flex: 1 1 0;
   max-width: 60px;
}

#social-container li a{
   color: var(--main_color);
   font-size: 30px;
   transition: 0.5s;
}

#social-container li a:hover{
   color: var(--main_text_color);
}

#email-container{
   display: flex;
   justify-content: center;
}

#email-container ion-icon, 
#email-container a{
   flex: 1 1 0;
}

#email-container a{
   color: var(--main_text_color);
   text-decoration: none;
   max-width: 225px;
   transition: 0.4s;
}

#email-container a:hover{
   color: var(--main_color);
}

#email-container ion-icon{
   color: var(--main_color);
   font-size: 20px;
   margin-right: 5px;
   max-width: 20px;
}

/*Containers - About container*/
#about-container{
   flex: 1 1 80%;
   min-height: 100vh;
   background-color: var(--about_bg_color);
   padding: 50px;
}

#name{
   font-size: 42px;
   margin-bottom: 15px;
}

#title{
   font-size: 24px;
   margin-bottom: 15px;
   font-weight: bold;
}

.description{
   max-width: 75%;
   margin-bottom: 10px;
}

#btn-projects{
   font-weight: bold;
   font-size: 16px;
   color: var(--main_text_color);
   background-color: var(--main_color);
   border: 2px solid var(--about_bg_color);
   border-radius: 5px;
   text-decoration: none;
   transition: .5s;
   margin: 25px 0;
   padding: 12px 10px;
   width: 150px;
   text-align: center;
   display: flex;
}

#btn-projects:hover{
   background-color: transparent;
   border-color: var(--main_color);
}

#btn-projects ion-icon, #btn-projects span{
   flex: 1 1 0;
}

#btn-projects ion-icon{
   font-size: 20px;
   max-width: 20px;
}

#skills-section-title{
   border-top: 1px solid var(--border_color);
   padding-top: 20px;
   margin-bottom: 20px;
   font-size: 32px;
}

#skills-container{
   display: flex;
   flex-wrap: wrap;
   margin-top: 25px;
}

.skills-box{
   flex: 1 1 33%;
   max-width: 33%;
   margin-bottom: 35px;
}

.skills-title{
   font-size: 24px;
   margin-bottom: 25px;
   font-weight: bold;
   padding-left: 10px;
   border-left: 5px solid var(--main_color);
}

.skills-box i{
   font-size: 45px;
   margin-right: 10px;
}

/* Mobile */
@media(max-width: 880px){

  #container {
    flex-direction: column;
  }

  #bio-container {
    min-height: auto;
    border-right: none;
    border-bottom: 5px solid var(--bio-border-color);
  }

  #bio-container h2 {
    display: none;
  }

  #bio-container p {
    max-width: 60%;
    margin: 10px auto;
  }

  #about-container {
    text-align: center;
    padding: 30px;
  }

  #about-container .description {
    margin: 10px auto;
    max-width: 100%;
    line-height: 26px;
  }

  #btn-projects {
    margin: 20px auto;
  }

  .skills-box {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  .skills-box i {
    font-size: 60px;
  }
}